*.log
*.pot
*.pyc
local_settings.py

# virtualenv related
.Python
bin/
include/
lib/
pip-selfcheck.json

# OS X related
.DS_Store

# minimal-django-file-upload-example related
src/for_django_*/myproject/db.sqlite3
**/myproject/media/documents/**
